html,body {
	height: 100%;
}

body {
	margin: 0;
	background: linear-gradient(45deg, #283048, #859398);
	font-family: sans-serif;
	font-weight: 100;
  color: #283048;
}

.container {
	position: absolute;
	top: 10%;
	left: 25%;
}

table {
	width: 800px;
/*	border-collapse: collapse;*/
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
  color: #fff;

}

td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
}

th {
	text-align: left;
}

thead th {
		background-color: #283048;
    padding: 15px;
}
/*
tbody tr:nth-child(even) {
  background-color: rgba(255,255,255,0.3);
}*/

.flat {
  background-color: rgba(255,255,255,0.2);
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  padding: 10px;
  font-family: sans-serif;
  font-weight: bold;
  color: #283048;
  border: none;
  margin-right: 10px;
}

.btn-flat {
  padding: 10px;
  font-weight: bold;
  background-color: #283048;
  border: none;
  color: white;
}

.btn-flat:hover {
  background-color: rgba(40, 48, 72, 0.5);
  transition-duration: 0.4s;
}

.btn-flat:active  {
  background-color: rgba(40, 48, 72, 0.75);
}
